# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Jira.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
[Dd]ebug/
[Bb]in/
[Oo]bj/
.db/
.db
.idea/
.git/
/packages/
.cache/
.cache
Migrations